body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: system-ui, sans-serif; /* Use system default font */
    letter-spacing: normal; /* Reset letter spacing */
}

header {
    text-align: center;
    background-color: #111;
    padding: 20px;
}

header h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin: 20px;
}

.home-icon {
    margin-right: 10px; /* Adds spacing between the icon and "Projects" */
    color: white; /* Matches the text color */
    text-decoration: none; /* Removes underline */
    font-size: 1.5rem; /* Adjust the icon size */
    transition: color 0.3s ease;
}

.home-icon:hover {
    color: white; /* Change color on hover for better UX */
}

.project {
    margin: 20px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
}

.project h2 {
    color: white;
    font-size: 2rem;
}

.project-description {
    font-size: 1em;
    margin-bottom: 10px;
}

.slider {
    position: relative;
    max-width: 700px; /* Adjust slider width */
    margin: 10px auto; /* Center the slider */
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-image {
    width: 25%; /* Show 4 images at a time with some gap */
    height: auto;
    margin-right: 5px; /* Space between images */
    cursor: pointer;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.slider-arrow.left {
    left: 0;
}

.slider-arrow.right {
    right: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 80%;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
